PORT=3005
NODE_ENV=production
DB_HOST=db
DB_PORT=5432
DB_USERNAME=kakerurentalcar
DB_PASSWORD=4lVhNdf1U7xsf
DB_NAME=rentalcar
DB_DIALECT=postgres
DB_POOL_MAX=5
DB_POOL_MIN=0
DB_POOL_ACQUIRE=30000
DB_POOL_IDLE=10000
DB_LOGGING=true
DB_SYNC=false
SESSION_NAME=sid
SESSION_SECRET=secret
SESSION_MAX_AGE=86400000
LINE_API_V2="https://api.line.me/oauth2/v2.1"
BASE_URL=https://api-kakeru-rentalcar.javis.vn

CHANNEL_ACCESS_TOKEN=pPCqRTRdfW0k3QvaHGn2KEa5c/l8+bY6DVXwNQv3LtZ/bcapu79SvvtTAOvXKB2RD/08G+kN8dRYej17sCL0p3ITdfJKyY8zVI73FMrFqCI/k4xWD/KJDoFyGOIDcU7C0bUKSVKfGxm5ulXM4KBxJQdB04t89/1O/w1cDnyilFU=
CHANNEL_SECRET=3042beb6243dabc5781c301023e997c5
LIFF_ID=2005352425-GB1oWbwZ
LIFF_URL=https://rentalcar.javis.vn/liff/login/2005352425-GB1oWbwZ

SQUARE_ACCESS_TOKEN=EAAAEIlCqODNAIUjfvMStJaQUUMX_TLoKA2EYl8_fnWukoqiyjWReGFSIE1zBn7i
SQUARE_APP_ENV=sanbox
SQUARE_APP_LOCATION=LQ1QX7FF376R3
KEY_HASH=mYq3t6w9
TIME_ZONE=Asia/Ho_Chi_Minh
SKIP_AUTHEN=true
REMINDER_CRON=* 0 * * * *
CORS=http://localhost:3000,http://127.0.0.1:3000,https://kakeru-rentalcar.javis.vn,https://revelone.testweb-demo.com